infrastructure/nodered/floor-4/flows.json
[
  {
    "id": "5ac19c47b2f9479d",
    "type": "tab",
    "label": "Floor 04",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "699397cdcea44737",
    "type": "coap request",
    "z": "5ac19c47b2f9479d",
    "method": "GET",
    "confirmable": true,
    "observe": true,
    "multicast": false,
    "multicastTimeout": 20000,
    "url": "coap://127.0.0.1:5713/f04/r411/telemetry",
    "content-format": "text/plain",
    "raw-buffer": false,
    "name": "r411",
    "x": 290,
    "y": 180,
    "wires": [
      [
        "518c1dff7bc94545",
        "d92abdfa09964d1e"
      ]
    ]
  },
  {
    "id": "f0cae5244c6c4f1e",
    "type": "coap request",
    "z": "5ac19c47b2f9479d",
    "method": "GET",
    "confirmable": true,
    "observe": true,
    "multicast": false,
    "multicastTimeout": 20000,
    "url": "coap://127.0.0.1:5714/f04/r412/telemetry",
    "content-format": "text/plain",
    "raw-buffer": false,
    "name": "r412",
    "x": 290,
    "y": 240,
    "wires": [
      [
        "518c1dff7bc94545"
      ]
    ]
  },
  {
    "id": "b5cc8f422a3f4d96",
    "type": "coap request",
    "z": "5ac19c47b2f9479d",
    "method": "GET",
    "confirmable": true,
    "observe": true,
    "multicast": false,
    "multicastTimeout": 20000,
    "url": "coap://127.0.0.1:5715/f04/r413/telemetry",
    "content-format": "text/plain",
    "raw-buffer": false,
    "name": "r413",
    "x": 288,
    "y": 295,
    "wires": [
      [
        "518c1dff7bc94545"
      ]
    ]
  },
  {
    "id": "dbd25d27d4f24cee",
    "type": "coap request",
    "z": "5ac19c47b2f9479d",
    "method": "GET",
    "confirmable": true,
    "observe": true,
    "multicast": false,
    "multicastTimeout": 20000,
    "url": "coap://127.0.0.1:5716/f04/r414/telemetry",
    "content-format": "text/plain",
    "raw-buffer": false,
    "name": "r414",
    "x": 287,
    "y": 346,
    "wires": [
      [
        "518c1dff7bc94545"
      ]
    ]
  },
  {
    "id": "5d62d141199b4208",
    "type": "coap request",
    "z": "5ac19c47b2f9479d",
    "method": "GET",
    "confirmable": true,
    "observe": true,
    "multicast": false,
    "multicastTimeout": 20000,
    "url": "coap://127.0.0.1:5717/f04/r415/telemetry",
    "content-format": "text/plain",
    "raw-buffer": false,
    "name": "r415",
    "x": 290,
    "y": 400,
    "wires": [
      [
        "518c1dff7bc94545"
      ]
    ]
  },
  {
    "id": "6bde62c0a1c94c52",
    "type": "coap request",
    "z": "5ac19c47b2f9479d",
    "method": "GET",
    "confirmable": true,
    "observe": true,
    "multicast": false,
    "multicastTimeout": 20000,
    "url": "coap://127.0.0.1:5718/f04/r416/telemetry",
    "content-format": "text/plain",
    "raw-buffer": false,
    "name": "r416",
    "x": 290,
    "y": 460,
    "wires": [
      [
        "518c1dff7bc94545"
      ]
    ]
  },
  {
    "id": "0e37dbe61e8142b1",
    "type": "coap request",
    "z": "5ac19c47b2f9479d",
    "method": "GET",
    "confirmable": true,
    "observe": true,
    "multicast": false,
    "multicastTimeout": 20000,
    "url": "coap://127.0.0.1:5719/f04/r417/telemetry",
    "content-format": "text/plain",
    "raw-buffer": false,
    "name": "r417",
    "x": 290,
    "y": 520,
    "wires": [
      [
        "518c1dff7bc94545"
      ]
    ]
  },
  {
    "id": "51bb3d2d1ed64239",
    "type": "coap request",
    "z": "5ac19c47b2f9479d",
    "method": "GET",
    "confirmable": true,
    "observe": true,
    "multicast": false,
    "multicastTimeout": 20000,
    "url": "coap://127.0.0.1:5720/f04/r418/telemetry",
    "content-format": "text/plain",
    "raw-buffer": false,
    "name": "r418",
    "x": 288,
    "y": 575,
    "wires": [
      [
        "518c1dff7bc94545"
      ]
    ]
  },
  {
    "id": "8bcef617b86745af",
    "type": "coap request",
    "z": "5ac19c47b2f9479d",
    "method": "GET",
    "confirmable": true,
    "observe": true,
    "multicast": false,
    "multicastTimeout": 20000,
    "url": "coap://127.0.0.1:5721/f04/r419/telemetry",
    "content-format": "text/plain",
    "raw-buffer": false,
    "name": "r419",
    "x": 287,
    "y": 626,
    "wires": [
      [
        "518c1dff7bc94545"
      ]
    ]
  },
  {
    "id": "d1ff3bd35d124728",
    "type": "coap request",
    "z": "5ac19c47b2f9479d",
    "method": "GET",
    "confirmable": true,
    "observe": true,
    "multicast": false,
    "multicastTimeout": 20000,
    "url": "coap://127.0.0.1:5722/f04/r420/telemetry",
    "content-format": "text/plain",
    "raw-buffer": false,
    "name": "r420",
    "x": 290,
    "y": 680,
    "wires": [
      [
        "518c1dff7bc94545"
      ]
    ]
  },
  {
    "id": "e08480b71b104a50",
    "type": "mqtt in",
    "z": "5ac19c47b2f9479d",
    "name": "",
    "topic": "campus/b01/f04/+/cmd",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "f5f54456e3f82fc6",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 580,
    "y": 140,
    "wires": [
      [
        "edf1e36c796047ef"
      ]
    ]
  },
  {
    "id": "518c1dff7bc94545",
    "type": "function",
    "z": "5ac19c47b2f9479d",
    "name": "function 1",
    "func": "let floorNum = env.get(\"FLOOR\");\nlet fStr = \"f\" + String(floorNum).padStart(2, \"0\");\nlet payload = msg.payload;\nif (typeof payload === \"string\") {\n    try { payload = JSON.parse(payload); }\n    catch(e) { node.warn(\"Could not parse payload: \" + payload); return null; }\n}\nlet sensorId = payload.metadata && payload.metadata.sensor_id;\nif (!sensorId) {\n    node.warn(\"Missing metadata.sensor_id in: \" + JSON.stringify(payload).substring(0, 100));\n    return null;\n}\nlet roomID = sensorId.split(\"-\")[2];\nmsg.topic = `campus/b01/${fStr}/${roomID}/telemetry`;\nmsg.payload = payload;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 400,
    "wires": [
      [
        "94f7426667f7422d",
        "b6edb44cad924a06"
      ]
    ]
  },
  {
    "id": "edf1e36c796047ef",
    "type": "switch",
    "z": "5ac19c47b2f9479d",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "r4(0[1-9]|10)",
        "vt": "str",
        "case": false
      },
      {
        "t": "regex",
        "v": "r4(1[1-9]|20)",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 790,
    "y": 140,
    "wires": [
      [
        "659493e9601c4339"
      ],
      [
        "a1a0bb3930524075"
      ]
    ]
  },
  {
    "id": "659493e9601c4339",
    "type": "mqtt out",
    "z": "5ac19c47b2f9479d",
    "name": "hivemq",
    "topic": "",
    "qos": "2",
    "retain": "",
    "broker": "f5f54456e3f82fc6",
    "x": 960,
    "y": 60,
    "wires": []
  },
  {
    "id": "94f7426667f7422d",
    "type": "function",
    "z": "5ac19c47b2f9479d",
    "name": "avg calculator",
    "func": "let store = flow.get('floorReadings') || {};\nlet floorId = 4;\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n    try { payload = JSON.parse(payload); }\n    catch(e) { node.warn('Parse failed'); return null; }\n}\nlet sensorId = payload.metadata && payload.metadata.sensor_id;\nif (!sensorId) { return null; }\nstore[sensorId] = payload;\nflow.set('floorReadings', store);\nlet lastPublish = flow.get('lastPublish') || 0;\nlet now = Date.now();\nif (now - lastPublish < 60000) { return null; }\nflow.set('lastPublish', now);\nlet rooms = Object.values(store);\nif (rooms.length === 0) return null;\nlet totalTemp = 0, totalHum = 0;\nrooms.forEach(function(r) {\n    totalTemp += r.sensors.temperature;\n    totalHum  += r.sensors.humidity;\n});\nlet roomCount = rooms.length;\nlet avgTemp = (totalTemp / roomCount).toFixed(2);\nlet avgHum  = (totalHum  / roomCount).toFixed(2);\nlet fStr = 'f' + String(floorId).padStart(2, '0');\nmsg.topic   = `campus/b01/${fStr}/status`;\nmsg.payload = {\n    floor:           String(floorId).padStart(2, '0'),\n    timestamp:       Math.floor(Date.now() / 1000),\n    avg_temperature: parseFloat(avgTemp),\n    avg_humidity:    parseFloat(avgHum),\n    reporting_nodes: roomCount,\n    status:          roomCount >= 18 ? 'Healthy' : 'Degraded'\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 920,
    "y": 400,
    "wires": [
      [
        "125b050d87344388",
        "c2b4a8683da84553"
      ]
    ]
  },
  {
    "id": "a1a0bb3930524075",
    "type": "function",
    "z": "5ac19c47b2f9479d",
    "name": "function 3",
    "func": "let parts = msg.topic.split('/');\nlet floor = parseInt(parts[2].replace('f', ''));\nlet roomIDStr = parts[3];\nlet roomNumStr = roomIDStr.replace('r', '');\nlet localRoom  = parseInt(roomNumStr.slice(-2));\nlet room_offset = localRoom - 11;\nlet dynamicPort = 5683 + (floor - 1) * 10 + room_offset;\nmsg.method = \"PUT\";\nmsg.confirmable = true;\nmsg.url = `coap://127.0.0.1:${dynamicPort}/${parts[2]}/${roomIDStr}/actuators/hvac`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 920,
    "y": 180,
    "wires": [
      [
        "5d8eb8f4aa894646"
      ]
    ]
  },
  {
    "id": "5d8eb8f4aa894646",
    "type": "coap request",
    "z": "5ac19c47b2f9479d",
    "method": "PUT",
    "confirmable": true,
    "observe": false,
    "multicast": false,
    "multicastTimeout": 20000,
    "url": "",
    "content-format": "text/plain",
    "raw-buffer": false,
    "name": "",
    "x": 1110,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "9c9af5a895d34f0a",
    "type": "mqtt in",
    "z": "5ac19c47b2f9479d",
    "name": "",
    "topic": "campus/b01/f04/+/telemetry",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "f5f54456e3f82fc6",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 560,
    "y": 240,
    "wires": [
      [
        "518c1dff7bc94545",
        "36e5ce3afd274e07"
      ]
    ]
  },
  {
    "id": "125b050d87344388",
    "type": "mqtt out",
    "z": "5ac19c47b2f9479d",
    "name": "",
    "topic": "",
    "qos": "2",
    "retain": "",
    "broker": "f5f54456e3f82fc6",
    "x": 1110,
    "y": 400,
    "wires": []
  },
  {
    "id": "f1ad3fe174bb4af5",
    "type": "inject",
    "z": "5ac19c47b2f9479d",
    "name": "start",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 90,
    "y": 360,
    "wires": [
      [
        "699397cdcea44737",
        "f0cae5244c6c4f1e",
        "b5cc8f422a3f4d96",
        "dbd25d27d4f24cee",
        "5d62d141199b4208",
        "6bde62c0a1c94c52",
        "0e37dbe61e8142b1",
        "51bb3d2d1ed64239",
        "8bcef617b86745af",
        "d1ff3bd35d124728"
      ]
    ]
  },
  {
    "id": "d92abdfa09964d1e",
    "type": "debug",
    "z": "5ac19c47b2f9479d",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 460,
    "y": 60,
    "wires": []
  },
  {
    "id": "c2b4a8683da84553",
    "type": "debug",
    "z": "5ac19c47b2f9479d",
    "name": "debug 5",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1080,
    "y": 500,
    "wires": []
  },
  {
    "id": "36e5ce3afd274e07",
    "type": "debug",
    "z": "5ac19c47b2f9479d",
    "name": "debug 6",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 280,
    "wires": []
  },
  {
    "id": "b6edb44cad924a06",
    "type": "debug",
    "z": "5ac19c47b2f9479d",
    "name": "debug 7",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 460,
    "wires": []
  },
  {
    "id": "f5f54456e3f82fc6",
    "type": "mqtt-broker",
    "name": "hivemq",
    "broker": "hivemq",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "7a97b245a29e488e",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-coap": "0.8.0"
    }
  }
]